<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content class="padding">    

    <div class="list card">
     
    <div class="item item-avatar">
      <h2 class="yekan" style="direction:rtl" ng-bind="post.post_title"></h2>
    </div>

     <div class="item item-thumbnail"> 
     <img class="full-image" src="{{post.thumbnail}}">     
     </div> 
     
     <div class="item item-body">
      <div style="direction:rtl" class="yekan" ng-bind-html="targetPost.post_content">        
                 
      </div>
    <p>
     <a class="subdued">2 Like</a> 
     <a class="subdued">5 Comments</a>            
    </p>
  </div>
   <div class="item tabs tabs-secondary tabs-icon-left"> 
      
      <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="sendLike()">
       <i class="icon ion-thumbsup"></i></a>

        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ui-sref=" material({postID:6178})">
          <i class="icon ion-chatbox" style="color:limegreen"></i>
        </a> 

        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="shareToSocial()">
          <i class="icon ion-android-share-alt" style="color:dodgerblue"></i>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="addToFavorite()">
          <i class="icon ion-heart" style="color:red"></i>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="mailArticleToFriend()">
          <i class="icon ion-ios-email-outline"></i>
        </a>
         </div>
   </div>

  </ion-content>
</ion-view>
