<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title=" ">
<ion-nav-buttons side="right">
  <a class="button button-icon icon ion-ios-arrow-thin-up" ng-click="scrollScreen('up')"></a>
  <a class="button button-icon icon ion-ios-arrow-thin-down" ng-click="scrollScreen('down')"></a>
</ion-nav-buttons>

<ion-nav-buttons side="left">
  <button class="button button-clear yekan icon-left ion-ios-arrow-left" ng-click="goBack()">
  &nbsp;  برگشت
  </button>
</ion-nav-buttons>
  <ion-content class="padding">
    <div>
    <div class="item item-avatar" style="padding-left:20px;border:0px">
    <p style="direction:rtl">
<i class="icon ion-flag" style="color:lightseagreen"></i>
    &nbsp;
<span class="yekan" style="direction:rtl;overflow:visible;white-space:normal;font-size:medium;color:black" ng-bind="targetPost.post_title"></span>
</p>
      <p class="yekan" style="direction:rtl">
      <i class="icon ion-ios-pulse" style="color:lightseagreen"></i>
      &nbsp;
      <span ng-repeat="cat in targetPost.catId">
        {{cat.cat_name}}
        <span ng-if="!$last"> - </span>
      </span>
      </p>
    </div>

     <div class="item item-thumbnail" style="padding:0px;border:0px">
     <!-- <img class="full-image" src="{{targetPost.thumbnail}}" >      -->
     </div>

     <div class="item item-body" style="border:0px">
      <div style="direction:rtl" class="yekan" ng-bind-html="stripTag(targetPost.post_content, 'a')">

      </div>
  </div>
   <div class="item tabs tabs-secondary tabs-icon-left">

      <a class="tab-item" ng-if="!showSignIn" ng-click="sendLike(targetPost.ID)">
        <i class="icon ion-thumbsup" ng-if="!targetPost.isLike"></i>
        <i class="icon ion-thumbsup" style="color:green" ng-if="targetPost.isLike"></i>
      </a>

        <a class="tab-item" ng-click="goToComment()">
          <i class="icon ion-chatbox"></i>
        </a>

        <a class="tab-item" ng-click="shareToSocial(targetPost.ID)">
          <i class="icon ion-android-share-alt"></i>
        </a>

        <a class="tab-item" ng-click="addToFavorite(targetPost.ID)" ng-if="!showSignIn">
          <i ng-show="targetPost.isFavorite" class="icon ion-ios-heart" style="color:red"></i>
          <i ng-show="!targetPost.isFavorite" class="icon ion-ios-heart-outline"></i>

        </a>

        <a class="tab-item" ng-click="mailArticleToFriend(targetPost.ID)">
          <i class="icon ion-ios-email-outline"></i>
        </a>
         </div>
         <!-- similar posts -->
         <div class="list">
            <p class="yekan" style="direction:rtl">مطالب مرتبط</p>
            <a class="item item-avatar-right" ui-sref="tab.chat-detail({chatId:post.ID})" ng-repeat="post in relatedPosts" style="border:0px">
              <img ng-src="{{post.thumbnail}}">
              <h2 style="direction:rtl" class="yekan" ng-bind="post.post_title"></h2>
              <p style="direction:rtl" class="yekan" ng-bind="post.summary"></p>
            </a>

        </div>
   </div>

  </ion-content>
</ion-view>
