<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
  <ion-header-bar align-title="center" class="bar-positive">
    کامنت به پست
   
  </ion-header-bar>
    <ion-content>
		<div class="list">
	    <a class="item item-avatar" href="#" ng-repeat="item in [1,2,3,4,5]">
	      <img src="img/milad.jpg" style="border-radius:50%">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </a>
	</div>
	<!-- form comment to a post -->
	<div class="list">
    
    <label class="item item-input item-floating-label">
      <span class="input-label">Name:</span>
      <input type="text" placeholder="Name">
    </label>
    
    <label class="item item-input item-floating-label">
      <span class="input-label">Email:</span>
      <input type="text" placeholder="Email">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Comment:</span>
      <input type="text" placeholder="comment">
    </label>

    <button class="button button-block button-balanced">
      send comment
    </button>

  </div>
	<!--  -->
		</ion-content>
		<ion-footer-bar align-title="right" class="bar-assertive">
  
</ion-footer-bar>
	</ion-side-menu-content>
</ion-side-menus>