<ion-view title="نظــــــرات">
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-buttons side="right">
  <a class="button button-icon icon ion-ios-chatbubble-outline"></a>          
</ion-nav-buttons>
<ion-nav-buttons side="left">
  <button class="button button-clear yekan icon-left ion-ios-arrow-left" ng-click="goBack()">
  &nbsp;  برگشت
  </button>
</ion-nav-buttons>
<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">
  <!-- List of comments -->
  <ion-tab icon-off="ion-ios-book" icon-on="ion-ios-book-outline" title="لیست نظرات">
   <ion-content style="margin-top:10%">
  
   <div class="row" ng-show="!comments" class="yekan">
      <div class="col">
        <button ng-click="activeSendCommentTab(1)" class="button button-block button-balanced yekan icon-right ion-ios-checkmark-outline"> اولین نفری باشید که نظر می دهید </button>
      </div>      
    </div>
    <div class="list" style="direction:rtl" ng-show="comments">
      <a class="item item-avatar" ng-class='setCommentClass($index)' ng-repeat="comment in comments">        
        <h2 class="yekan">{{$index+1+ '- ' + comment.comment_author}}</h2>
        <p ng-bind="comment.comment_content" class="yekan" style="overflow:visible;white-space:normal"></p>     
      </a>
    </div>
  </ion-content>
  </ion-tab>

  <!-- send comment form -->
  <ion-tab icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble-outline" title="نظر جدید">
    <ion-content style="margin-top:10%">
    <div style="height:auto;direction:rtl">

    <div class="row">
        <div class="col">
            <div class="list">

                <label class="item item-input yekan">
    <input type="text" class="yekan" placeholder="نام و نام خانوادگی" ng-model="commentObject.name">
  </label>

                 <label class="item item-input yekan">
    <input type="text" class="yekan" style="direction:ltr" placeholder="ایمیل" ng-model="commentObject.email">
  </label>

  <label class="item item-input yekan">
    <input type="text" class="yekan" style="direction:ltr" placeholder="وبسایت" ng-model="commentObject.url">
  </label>  

  <label class="item item-input yekan">
    <input type="text" class="yekan" placeholder="متن نظر شما" ng-model="commentObject.comment">
  </label>  

            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-balanced yekan" ng-click="sendComment()"> ارسال نظر </button>                   
                </div>
            </div>            
        </div>
    </div>
       
    </div>
   </ion-content>
  </ion-tab>

</ion-tabs>
</ion-view>