<ion-view view-title="لیست دلخواه">
<ion-nav-buttons side="right">
<a class="button button-icon icon ion-gear-a" ng-click="openPopover($event)"></a>          
</ion-nav-buttons>
 <ion-content>

  <div class="list card stable-bg" ng-repeat="post in FavoritePosts track by $index">
     <div class="item item-thumbnail"> 
     <img class="full-image" src="{{post.thumbnail}}">
      <h2>Arya Stark</h2> 
     <p>"Joffrey. Cersei. Ilyn Payne. Hound. Polliver. The Mountain."</p> 
     </div> 
     <div class="item item-body"> The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding. <p> 
     <a class="subdued">1 Like</a> 
     <a class="subdued">5 Comments</a> 
     </p>
      </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-click="removeFromFavorite()"> 
                
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
        <i class="icon ion-share"></i> حذف </a>

        

      </div> 
    </div>

 </ion-content>
</ion-view>