  <ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
  <ion-header-bar align-title="center" class="bar-positive">   
  <button class="button icon-left ion-home" ng-click="goHome();"></button>
  </ion-header-bar>
    <ion-content>
      <div>
      <ion-list style="direction:rtl">    
        <ion-item ng-click="displaySinglePost(post.ID)" class="item item-thumbnail-right" href="#" ng-repeat="post in posts">          
          <!-- the box of POST here -->
          <img src="{{post.thumbnail}}" style="border:1px solid gray;border-radius:7px">
          <h2  ng-bind="post.post_title" class="yekan"></h2>
          <p   ng-bind="post.post_content"></p>
          <!-- the box of ADS is here  -->          
        </ion-item>
      </ion-list>      
    </div>    
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-assertive">    
</ion-footer-bar>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
  <ion-header-bar align-title="center" class="bar-positive">   
    <h1 class="title">لیست دسته ها</h1>    
  </ion-header-bar>
    <ion-content>
       <ion-list>  
          <ion-item ng-click="filterPostsByCategory('all')" class="item item-thumbnail-left" href="#">
            <p>همه ی مقالات</p>
          </ion-item>  
          <ion-item ng-click="filterPostsByCategory(this.$parent.category.cat_ID)" class="item item-thumbnail-left" href="#" ng-repeat="category in categories">
            <p ng-bind="category.cat_name"></p>
          </ion-item>  
          <ion-item ng-click="filterPostsByCategory(355)" class="item item-thumbnail-left" href="#">
            <p>بیوگرافی اسطوره های IT</p>
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>