  <ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
  <ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button yekan icon-left ion-chevron-left" ng-click="toggleSidemenu()">دسته های مقالات</button>
  </div>
  <label class="item item-input">
  <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" placeholder="جستجو کنید" ng-model="query">
  </label> 

  </ion-header-bar>
    <ion-content>
    <ion-refresher
      pulling-text="در حال بارگیری پست های جدید..."
      on-refresh="loadMoreDataForTop()"
      disable-pulling-rotation
      >
    </ion-refresher>
      <div ng-show="showArticleList">            

      <ion-list style="direction:rtl" on-drag-down="setDirectionForScroll('up')" on-drag-up="setDirectionForScroll('down')">    
        <ion-item ng-click="displaySinglePost(post.ID)" class="item item-thumbnail-right" href="#" ng-repeat="post in posts | filter:query" >          
          <!-- the box of POST here -->          
          <img src="{{post.thumbnail}}">
          <h2 ng-bind="post.post_title" class="titrtge"></h2>
          <p class="yekan">محتوا</p>
          <!-- the box of ADS is here  -->
          <img ng-if="$index % 5 == 0" src="img/ads.jpg"  />

        </ion-item>
      </ion-list>

      <ion-infinite-scroll
        on-infinite="loadMoreDataForDown()"
        distance="50%"
        icon="ion-loading-c"
        >
      </ion-infinite-scroll>

    </div>
    <div ng-show="showUpdateMessage">
      <div class="card">
        <div class="item item-text-wrap yekan" style="direction:rtl">
          احتمالا بار اول است که از این برنامه استفاده می کنید. با کلیک روی دکمه ی زیر لیست مقاله ها را دریافت کنید.
        </div>
      </div>
      
      <div class="buttons" align="center">
        <button class="button button-large button-balanced icon ion-refresh yekan" ng-click="fillLocalWithData()"> به روز رسانی</button>
      </div>      
    </div>
    
    </ion-content>

    <ion-footer-bar align-title="right" class="bar-assertive" style="display:inline">
  
      <div class="buttons" align="center">
        <button class="button icon ion-gear-a" ng-click="showActionsheet()"></button>
      </div>
      
    </ion-footer-bar>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
  <ion-header-bar align-title="center" class="bar-positive">   
    <h1 class="title iraniansans">لیست دسته ها</h1>    
  </ion-header-bar>
      
    <ion-content>
    <ion-refresher
      pulling-text="بررسی وجود دسته های جدید..."
      on-refresh="loadMoreDataForTop()"
      disable-pulling-rotation
      >
    </ion-refresher>
      <div class="list">
        <a ng-click="filterPostsByCategory('all')" class="item item-icon-left iraniansans" href="#" style="direction:rtl">
          <i class="icon ion-email"></i>
          همه ی مقالات
        </a>

        <a ng-click="filterPostsByCategory(this.$parent.category.cat_ID)" ng-repeat="category in categories" class="item item-icon-left iraniansans" href="#" style="direction:rtl">
          <i class="icon ion-email"></i>
          {{category.cat_name}}
        </a>

        <a ng-click="mostVisitedPosts()" class="item item-icon-left iraniansans" href="#" style="direction:rtl">
          <i class="icon ion-email"></i>
          پر بازدیدتزین ها
        </a>

      </div>

    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right">
  <ion-header-bar align-title="center" class="bar-positive">   
    <h1 class="title iraniansans">تنظیمات</h1>    
  </ion-header-bar>
    <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        تعداد پست های دریافتی هنگام اسکرول به سمت بالا
      </div>
      <div class="item item-text-wrap">
        تعداد پست های دریافتی هنگام اسکرول به سمت پایین
      </div>
    </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>