<ion-view view-title="نظرات" class="yekan">
<ion-nav-bar class="bar-assertive">
	<ion-nav-back-button></ion-nav-back-button>     
</ion-nav-bar>
	<ion-content>
		<div class="list" style="direction:rtl">
			<a class="item item-avatar" ng-repeat="comment in comments">
				<img src="http://ionicmaterial.com/demo/docs/img/material1.jpg" alt="">
				<h2 ng-bind="comment.comment_author" class="yekan"></h2>
				<p ng-bind="comment.comment_content" class="yekan"></p>			
			</a>
		</div>
	</ion-content>

 <div class="bar bar-footer bar-energized-900">
	<div class="title"></div>
	<div class="buttons buttons-right">
		<button ng-click="openModal()" class="button button-balanced">
			<i class="icon ion-chatbubble-working"> ارسال کامنت</i>
		</button>
	</div>
</div>
</ion-view>