<ion-view>
<ion-nav-buttons side="left">
<a class="button button-icon icon ion-chevron-left" ng-click="goBack()"></a>          
</ion-nav-buttons>
	<ion-content>
		<div class="list" style="direction:rtl">
			<a class="item item-avatar" ng-repeat="comment in comments">				
				<h2 ng-bind="comment.comment_author" class="yekan"></h2>
				<p ng-bind="comment.comment_content" class="yekan" style="overflow:visible;white-space:normal"></p>			
			</a>
		</div>
	</ion-content>

 <div class="bar bar-footer bar-energized-900">
	<div class="title"></div>
	<div class="buttons buttons-right">
		<button ng-click="openModal()" class="button button-balanced">
			<i class="icon ion-chatbubble-working"> ارسال کامنت</i>
		</button>
	</div>
</div>
</ion-view>