<ion-popover-view>
<ion-content style="direction:rtl">

  <a ui-sref="tab.chats" class="item item-icon-right yekan"> <i class="icon ion-home"></i> خانه </a>
  <a ui-sref="favoriteList" class="item item-icon-right yekan"> <i class="icon ion-heart" style="color:red"></i> لیست دلخواه </a>
  <a class="item item-icon-right yekan" ui-sref="signup"> <i class="icon ion-person-add" style="color:lightseagreen"></i> ثبت نام </a>
  
  <a class="item item-icon-right yekan" ui-sref="signin"> <i class="icon ion-key"></i>ورود به برنامه</a>
  <a class="item item-icon-right yekan" ui-sref="setting"> <i class="icon ion-wrench"></i>تنظیمات</a>

</ion-content>
</ion-popover-view>