<ion-popover-view>
	<!-- <ion-header-bar>
		<h1 class="title">منوی اصلی</h1>
	</ion-header-bar> -->
<ion-content style="direction:rtl">

  <a class="item item-icon-right yekan" ng-click="navigateToState('favoriteList')" > <i class="icon ion-email"></i> لیست دلخواه </a>
  <a class="item item-icon-right yekan" > <i class="icon ion-email"></i> ثبت نام </a>
  
  <a class="item item-icon-right yekan" > <i class="icon ion-mic-a"></i>ورود به برنامه</a>

  <a class="item item-icon-right" ><i class="icon ion-person-stalker yekan"></i> Friends </a>
                
</ion-content>
</ion-popover-view>