<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="toggleSidemenu()">دسته های مقالات</button>
    </div>
   
  </ion-header-bar>
    <ion-content>

	<div class="list card" style="direction:rtl">

  <div class="item item-avatar">
    <img ng-src="{{post.thumbnail}}">
    <h2>{{post.post_title}}</h2>
    <p>{{post.post_date}}</p>
  </div>

  <div class="item item-text-wrap">
    <img class="full-image" ng-src="{{post.thumbnail}}">
    <p ng-bind-html="post.post_content">      
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>
	
<div class="bar bar-header bar-calm" ng-click="shareAnywhere()">
  <h1 class="title">bar-calm</h1>
</div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
    <a class="tab-item" ng-href="" ng-click="addToFavorite(event)">
      <i class="icon ion-share"></i>
      favorite
    </a>
  </div>  

</div>

	
    </ion-content>

  <!-- <ion-footer-bar align-title="right" class="bar-assertive">
  
  <div class="buttons" align="left">
    <button class="button" ng-click="showScope()">show scope</button>
  </div>
  <div class="buttons" align="left">
    <button class="button" ng-click="showActionsheet()">Magly</button>
  </div>
  
  </ion-footer-bar> -->

  </ion-side-menu-content>
</ion-side-menus>    