<ion-modal-view >
<ion-content has-bouncing="true" style="height:auto">

</ion-content>
<!-- align to the bottom of the page -->
    
<div class="tabs" style="height:auto;direction:rtl">

    <div class="row">
        <div class="col">
            <div class="list">

                <label class="item item-input yekan">
    <input type="text" class="yekan" placeholder="نام و نام خانوادگی" ng-model="commentObject.name">
  </label>

                 <label class="item item-input yekan">
    <input type="text" class="yekan" style="direction:ltr" placeholder="ایمیل" ng-model="commentObject.email">
  </label>

  <label class="item item-input yekan">
    <input type="text" class="yekan" style="direction:ltr" placeholder="وبسایت" ng-model="commentObject.url">
  </label>  

  <label class="item item-input yekan">
    <input type="text" class="yekan" placeholder="متن نظر شما" ng-model="commentObject.comment">
  </label>  

            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-balanced yekan" ng-click="sendComment()"> ارسال </button>                   
                </div>
            </div>
            <div class="row">            
                <div class="col">
                <button class="button button-block button-light yekan" ng-click="closeSendCommentForm()"> بستن </button>
                </div>
			</div>
        </div>
    </div>
       
    </div>
</ion-modal-view>