<ion-view title="دستــــه ها">
<ion-nav-buttons side="right">
  <a class="button button-icon icon ion-ios-pulse"></a>          
</ion-nav-buttons>
  <ion-content>
    
  <div class="list">
    <a class="item" ng-class="whatClassIsIt($index)" ng-href="" ng-repeat="item in categories" ng-click="filterPostsByCategory(item.cat_ID)" style="height">
      
      <img ng-src="{{item.thumbnail}}" id="{{item.cat_ID}}" style="border-radius:5px">
      <!-- <div class="category-cover-mode" style="background-image: url({{item.thumbnail}})"></div> -->
      <h2 class="yekan">{{item.name}}</h2>
      <p style="overflow:visible;white-space:normal">{{item.description}}</p>
    </a>
  </div>

  </ion-content>

</ion-view>