<ion-view view-title="بیشترین بازدید ها">
<!-- <ion-nav-buttons side="right">
<a class="button button-icon icon ion-ios-keypad" ng-click="openPopover($event)"></a>          
</ion-nav-buttons> -->

  <ion-content>
    
   <div class="card usualPostContainer" ng-repeat="post in posts">
     <div ng-click="ch(post.ID)">
    <div class="item item-avatar usualPostContainer">
      <h2 class="yekan usualPostContainer" style="direction:rtl" ng-bind="post.post_title"></h2>
    </div>

     <div class="item item-thumbnail usualPostContainerImg"> 
     <img class="full-image" src="{{post.thumbnail}}">     
     </div> 
     
    <div class="item item-body usualPostContainer">
      <div style="direction:rtl" class="yekan" ng-bind-html="post.summary+'...'">                      
      </div>
    </div>
</div>
   <div ng-if = "1" class="item tabs tabs-secondary tabs-icon-left">
    
    <a class="tab-item" ng-click="sendLike(post.ID)" ng-if="!showSignIn">
      <i class="icon ion-thumbsup"></i>
    </a>
  
    <a class="tab-item" ng-click="goToComment(post.ID)">
      <i class="icon ion-chatbox"></i>
    </a>

    <a class="tab-item" ng-click="shareToSocial()">
          <i class="icon ion-android-share-alt" style="color:dodgerblue"></i>
        </a>
<a class="tab-item" ng-if="!showSignIn" ng-click="addToFavorite(post.ID)">
      <i ng-show="post.isFavorite" class="icon ion-ios-heart" style="color:red"></i>
      <i ng-show="!post.isFavorite" class="icon ion-ios-heart-outline"></i>
    </a>
    <a class="tab-item" ng-click="mailArticleToFriend(post.ID)">
          <i class="icon ion-ios-email-outline"></i>
        </a>
   </div> 

   </div>
        
  </ion-content>
</ion-view>
