<ion-view view-title="دسته ها">
<ion-nav-buttons side="right">
<!-- <a class="button button-icon icon ion-ios-keypad" ng-click="openPopover($event)"></a>           -->
</ion-nav-buttons>
  <ion-content class="padding">
    <div class="row">
      <div class="col" ng-click="filterPostsByCategory('all')">        
        <div style="direction:rtl" class="list card yekan">
          <!-- <div class="item item-divider">
          <i class="icon ion-happy-outline"></i>
          همه مقالات</div> -->
<div class="item item-body class{{item.classNumber}}" style="height:140px;background-image: url({{all}});;background-repeat:round" >
            <div style="background-color: #ffffff;border: 1px solid white;opacity: 0.8;">
             همه مقالات
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="row" ng-repeat="row in categories">
      <div class="col" ng-repeat="item in row" ng-click="filterPostsByCategory(item.cat_ID)">
        
        <div style="direction:rtl" class="list card yekan" >
         <!--  <div class="item item-divider">
          <i class="icon ion-happy-outline"></i>
          {{item.cat_name}}</div> -->
          <div class="item item-body class{{item.classNumber}}" style="height:120px;background-image: url({{item.thumbnail}});background-repeat:round" >
            <div style="background-color: #ffffff;border: 1px solid white;opacity: 0.8;">
             {{item.cat_name}}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
