<ion-view view-title="بیشترین بازدید ها">
<ion-nav-buttons side="right">
<a class="button button-icon icon ion-ios-keypad" ng-click="openPopover($event)"></a>          
</ion-nav-buttons>

  <ion-content>
  
 <ion-refresher
   pulling-text="در حال بارگیری پست های جدید..."
   on-refresh="loadMoreDataForTop()"      
 >
 </ion-refresher>
    
    <div class="list card" ng-repeat="post in posts" ng-click="ch(post.ID)">
     
    <div class="item item-avatar">
      <h2 class="yekan" style="direction:rtl" ng-bind="post.post_title"></h2>
    </div>

     <div class="item item-thumbnail"> 
     <img class="full-image" src="{{post.thumbnail}}">     
     </div> 
     
     <div class="item item-body">
      <div style="direction:rtl" class="yekan">        
        این پست یه سری محتوا داره که میاد اینجا         
      </div>
    <p>
     <a class="subdued">2 Like</a> 
     <a class="subdued">5 Comments</a>            
    </p>
  </div>
   <div class="item tabs tabs-secondary tabs-icon-left">

  <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
   <i class="icon ion-heart" style="color:red"></i> </a>

   </div> 
   </div>
                

      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.thumbnail}}">
        <h2>{{chat.post_title}}</h2>
        <p>content</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->
     <!--  <ion-infinite-scroll
       on-infinite="loadMoreDataForDown()"
       distance="1%"
       icon="ion-loading-c"
       >
     </ion-infinite-scroll> -->
   
  </ion-content>
</ion-view>
