<?xml version="1.0.4" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.summitmobile502140" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>magly 2015</name>
  <description>
        Daily Magazine
    </description>
  <author email="milad.khanmohammadi@gmail.com" href="http://www.summits.ir/">
      milad khanmohammadi
    </author>
  <content src="index.html"/>
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <!-- for Android (you will find one in res/xml) -->
  <feature name="SocialSharing">
    <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
  </feature>
  <!-- for Android -->
  <feature name="Toast">
    <param name="android-package" value="nl.xservices.plugins.Toast" />
  </feature>
  <!-- <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" /> -->
  <platform name="browser">
    <preference name="SplashScreen" value="resources/android/splash/splash.jpg" /> <!-- defaults to "img/logo.png" -->
    <preference name="SplashScreenDelay" value="10000" /> <!-- defaults to "3000" -->
    <preference name="SplashScreenBackgroundColor" value="green" /> <!-- defaults to "#464646" -->
    <preference name="ShowSplashScreen" value="true" /> <!-- defaults to "true" -->
    <preference name="SplashScreenWidth" value="500" /> <!-- defaults to "170" -->
    <preference name="SplashScreenHeight" value="800" /> <!-- defaults to "200" -->
</platform>
  <platform name="android">
    <icon src="resources/android/icon/logo36.png" density="ldpi"/>
    <icon src="resources/android/icon/logo48.png" density="mdpi"/>
    <icon src="resources/android/icon/logo72.png" density="hdpi"/>
    <icon src="resources/android/icon/logo96.png" density="xhdpi"/>
    <icon src="resources/android/icon/logo144.png" density="xxhdpi"/>
    <icon src="resources/android/icon/logo192.png" density="xxxhdpi"/>

    <splash src="resources/android/splash/landscape.png" density="land-ldpi"/>
    <splash src="resources/android/splash/landscape.png" density="land-mdpi"/>
    <splash src="resources/android/splash/landscape.png" density="land-hdpi"/>
    <splash src="resources/android/splash/landscape.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/landscape.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/landscape.png" density="land-xxxhdpi"/>

    <splash src="resources/android/splash/portrait.png" density="port-ldpi"/>
    <splash src="resources/android/splash/portrait.png" density="port-mdpi"/>
    <splash src="resources/android/splash/portrait.png" density="port-hdpi"/>
    <splash src="resources/android/splash/portrait.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/portrait.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/portrait.png" density="port-xxxhdpi"/>

  </platform>
</widget>
